<th:block th:fragment="left-side-menu">
  <div class="left-side-menu">

    <div class="slimscroll-menu">

      <!--- Sidemenu -->
      <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">

          <li class="menu-title">Navigation</li>

          <li>
            <a href="javascript: void(0);" class="waves-effect">
              <i class="remixicon-dashboard-line"></i>
              <span class="badge badge-pink badge-pill float-right">2</span>
              <span> Dashboards </span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="index.html">Dashboard 1</a>
              </li>
              <li>
                <a href="dashboard-2.html">Dashboard 2</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript: void(0);" class="waves-effect">
              <i class="remixicon-user-line"></i>
              <span> Customer </span>
              <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="/cp/customers">List</a>
              </li>
              <li>
                <a href="/cp/customers/create">Create</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="javascript: void(0);" class="waves-effect">
              <i class="remixicon-product-hunt-line"></i>
              <span> Product </span>
              <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level" aria-expanded="false">
              <li>
                <a href="/cp/products">List</a>
              </li>
              <li>
                <a href="/cp/products/create">Create</a>
              </li>

            </ul>
          </li>
        </ul>

      </div>
      <!-- End Sidebar -->

      <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

  </div>
</th:block>